## Pandas

In [6]:
import pandas as pd

In [7]:
dt = pd.read_csv("warmup-data/coffee.csv")

In [8]:
dt.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [9]:
sum = dt["Units Sold"].sum()
print(f"Total units sold: {sum}")

Total units sold: 460

In [10]:
df = pd.read_csv("data/noc_regions.csv")
df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

## Requests

In [11]:
import requests as req
from bs4 import BeautifulSoup as bs

In [8]:
url = 'https://www.christianpost.com'

In [25]:
page = req.get(url)
soup = bs(page.text, 'html.parser')

In [ ]:
textMarq = soup.find('div', class_ = 'marquee').get_text(".\n", strip=True)
for t in textMarq.split("\n"):
    print(t)

Franklin Graham says murder of Charlie Kirk shows Left wants to silence opponents.
An open letter to pastors about Charlie Kirkâ€™s death.
22-year-old arrested in fatal shooting of beloved pastor.
Activist sounds alarm on law that's putting women in harm's way.
China cracks down on pastors' online activities, bans evangelizing youth

In [42]:
textArticle = soup.find('div', class_ = "home-layout-1 headline-layout static_blocks").get_text('\n', strip=True)
for a in textArticle.split("\n"):
    print(a)

Headlines
Protesters reject assisted suicide, place pairs of shoes outside UK Parliament showing lives lost
Demonstrators gathered outside the U.K. Parliament Friday to oppose a bill legalizing assisted suicide for terminally ill adults. The protest included a visual installation of shoes symbolizing those who could die each year if the legislation is passed.
Top Christian News
China cracks down on pastors' online activities, bans evangelizing youth
China has instituted numerous regulations prohibiting religious content online, including teaching Bible lessons to children and forming youth groups.
Man, 22, arrested in fatal shooting of beloved pastor
A 22-year-old man has been arrested in the shooting death of a California pastor whose loss has devastated his family and congregation.
This week in Christian history: Pope Francis addresses Congress, Johann Agricola dies
Events that occurred this week in Christian history include Pope Francis addressing Congress, the death of Johann Agricola, and the end of the Investiture Controversy.