## Pandas

In [1]:
import pandas as pd

In [4]:
dt = pd.read_csv("warmup-data/coffee.csv")

In [9]:
dt.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [11]:
sum = dt["Units Sold"].sum()
print(f"Total units sold: {sum}")

Total units sold: 460

## Requests

In [ ]:
import requests as req